/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
}

body {
    background: #110804;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* NAVBAR */

.navbar {
    align-items: center;
    background: #110804;
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar-left {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    fill: #E8CA87;
    width: 2.75rem;
}

.navbar-brand {
    color: #E8CA87;
    font-size: 1.25rem;
    font-weight: 500;
}

.navbar-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 2.25rem;
    justify-content: space-between;
}

.nav-item:hover,
.nav-item.active {
    border-bottom: 0.15rem solid #E8CA87;
}

.navbar-link {
    font-size: 0.9rem;
}

.navbar-order {
    border: solid 0.075rem #E8CA87;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin-left: 2.25rem;
    padding: 0.5rem 1rem;
    transition: all 0.25s ease-in-out;
}

.navbar-order:hover {
    background: #E8CA87;
    color: #110804;
}

.hamburger {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    padding: 0.5rem;
    z-index: 1002;
}

.hamburger-line {
    background: #E8CA87;
    border-radius: 1.2rem;
    height: 0.188rem;
    margin: 0.188rem 0;
    transition: all 0.3s ease;
    transform-origin: center;
    width: 2.25rem;
}

.hamburger.active .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(0.375rem, 0.375rem);
}

.hamburger.active .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(0.375rem, -0.375rem);
}

.mobile-menu {
    align-items: center;
    background: #110804;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    right: -100%;
    top: 0;
    transition: right 0.3s ease;
    width: 100%;
    z-index: 999;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    list-style: none;
    padding: 0;
}

.mobile-nav-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.mobile-menu a {
    display: block;
    color: #FFFFFF;
    font-size: 2.25rem;
}

.mobile-nav-item.active {
    border-bottom: 0.35rem solid #E8CA87;
}

/* WILL REMOVE LATER */

.section {
    height: 40rem;
}

.home {
    padding-top: 10rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* FOR TABLETS */

@media screen and (max-width: 992px) {
    .navbar {
        padding: 6% 8.5%;
    }

    .nav-menu {
        display: none;
    }

    .navbar-order {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}


/* FOR MOBILE */

@media screen and (max-width: 500px) {
    html {
        font-size: 70%;
    }

    .navbar {
        padding: 7.5% 8%;
    }

    .mobile-menu a {
        font-size: 1.75rem;
    }
}